{{ if eq .Section "articles" }}
<section id="comments">
  <h4>Comments</h4>

  {{ with .Resources.Match "comment_[0-9][0-9][0-9][0-9][0-9][0-9].*" }}
    <ul class="comments-list" itemscope itemtype="http://schema.org/UserComments">
      {{ range sort . ".PublishDate" }}
      <li>
        {{ $id := .Name | replaceRE `\..*` "" | replaceRE `^comment_` "c" }}
        <article class="comment u-comment {{ if eq .Params.type "mention" }}h-cite{{ else }}h-entry{{ end }}" itemprop="comment">
          <div id="{{$id}}" class="comment-header">
            <a href="#{{$id}}" class="anchor-link u-url" itemprop="url">
              {{ partial "utils/icon.html" (dict "$" . "name" .Site.Params.anchorIcon "class" "anchor-icon") }}
            </a>
            <span class="comment-author p-author h-card" itemprop="creator">
              {{- if eq .Params.type "mention" -}}
                {{ .Params.author | default "Someone" }}
              {{- else -}}
                {{- with .Params.authorUrl -}}<a rel="nofollow" class="u-url p-name" href="{{.}}">{{- end -}}
                {{ .Params.author }}
                {{- with .Params.authorUrl -}}</a>{{- end -}}
              {{- end -}}
            </span>
            <time class="comment-time dt-published" datetime="{{.PublishDate.UTC.Format "2006-01-02T15:04:05Z"}}" itemprop="datePublished">{{.PublishDate.UTC.Format "2006-01-02 15:04"}}</time>
            {{- if eq .Params.type "mention" }}
            mentioned this article in <a rel="nofollow" class="u-repost-of" href="{{.Params.authorUrl}}">{{.Params.title | default .Params.authorUrl}}</a>
            {{- end -}}
          </div>
          <div class="e-content" itemprop="commentText">
            {{ .Content }}
            {{ with $.Resources.Match (printf "comment_%s_reply_*" .Params.id) }}
              {{ range sort . ".PublishDate" }}
                {{ $id := .Name | replaceRE `\..*` "" | replaceRE `^comment_` "c" | replaceRE `_reply_` "r"}}
                <div class="comment u-comment h-entry">
                  <div id="{{$id}}" class="comment-header">
                    <a href="#{{$id}}" class="anchor-link u-url" itemprop="url">
                      {{ partial "utils/icon.html" (dict "$" . "name" .Site.Params.anchorIcon "class" "anchor-icon") }}
                    </a>
                    <span class="comment-author p-author h-card">{{ .Params.author | default .Site.Params.author.name }}</span>
                    {{ with .PublishDate }}
                      <time class="comment-time dt-published" datetime="{{.UTC.Format "2006-01-02T15:04:05Z"}}" itemprop="datePublished">{{.UTC.Format "2006-01-02 15:04"}}</time>
                    {{ end }}
                  </div>
                  <div class="e-content">
                    {{ .Content }}
                  </div>
                </div>
              {{ end }}
            {{ end }}
          </div>
        </article>
      </li>
      {{ end }}
    </ul>
  {{ else }}
    <div class="comment">
      There are currently no comments on this article.
    </div>
  {{ end }}
</section>

{{ if not .Params.disableComments }}
<form id="comments-form" action="#" method="POST" data-path="{{ .File.Dir }}" hidden>
  <h4>Leave a comment</h4>
  <div class="comments-form-header">
    <div>
      <label for="name">Name <span class="required" title="Required">*</span></label><br>
      <input name="name" autocomplete="name" class="comment_name_input" id="name" type="text" size="32" required value="">
    </div>

    <div>
      <label for="email">Email</label><br>
      <input name="email" autocomplete="email" class="comment_email_input" id="email" type="email" size="32" value=""><br>
      <span class="note">Only if you want to be notified about my reply.</span>
    </div>

    <div>
      <label for="web">Website</label><br>
      <input name="web" autocomplete="url" placeholder="https://" class="comment_web_input" id="web" type="url" size="32" value="">
    </div>
  </div>

  <p>
    <label for="message">Message <span class="required" title="Required">*</span></label>
    <span class="note message-note">You can use <a rel="nofollow" href="https://www.markdownguide.org/basic-syntax/">Markdown syntax</a> here.</span><br>
    <textarea id="message" name="message" cols="64" rows="8" required="required"></textarea><br>
  </p>

  <p id="comment-submit">
    <span class="explanation">By submitting your comment, you agree to your comment being published here under the terms of the <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</span>
    <button type="submit">Submit</button>
  </p>

  <input name="uri" type="hidden" value="{{ .RelPermalink }}">
</form>
{{ else }}
<div id="comments-form">Comments are disabled for this article.</div>
{{ end }}

{{ end }}
