<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">

  {{ partial "head.html" . }}

  <body id="articles-page">

    {{ partial "nav.html" . }}

    <div class="wrapper">
      <div class="container">
        <div id="main" role="main">
          <article role="article" itemscope itemtype="http://schema.org/Article">
            <h1 itemprop="name">{{ .Title }}</h1>
            {{ partial "article.html" (dict "scope" . "kind" "page") }}
          </article>

          {{ if eq .Section "articles" }}
            <p id="paginator">
              {{ with .PrevInSection }}
              <a href="{{ .Permalink }}" id="paginator-l" rel="prev">&#8592; {{ .Title }}</a>
              {{ end }}
              {{ with .NextInSection }}
              <a href="{{ .Permalink }}" id="paginator-r" rel="next">{{ .Title }} &#8594;</a>
              {{ end }}
            </p>

            <section id="comments-head">
              <h3>Comments</h3>

              {{ with .Resources.Match "comment_[0-9][0-9][0-9][0-9][0-9][0-9].*" }}
                <ol class="comments-list" itemscope itemtype="http://schema.org/UserComments">
                  {{ range sort . ".Name" }}
                  <li>
                    <article class="comments" itemprop="comment">
                      <h4>
                        <span itemprop="creator">
                          {{- with .Params.authorUrl -}}<a rel="nofollow" href="{{.}}">{{- end -}}
                          {{ .Params.author }}
                          {{- with .Params.authorUrl -}}</a>{{- end -}}
                        </span>
                        <span class="comment-anchor" itemprop="url"><a href="#c{{.Params.id}}" id="c{{.Params.id}}">#</a></span>
                      </h4>
                      <p class="footnote"><time datetime="{{.PublishDate.UTC.Format "2006-01-02T15:04:05Z"}}" itemprop="datePublished">{{.PublishDate.UTC.Format "2006-01-02 15:04"}}</time></p>
                      <div itemprop="commentText">
                        {{ .Content }}
                        {{ with $.Resources.Match (printf "comment_%s_reply_*" .Params.id) }}
                          {{ range sort . ".Name" }}
                            <div class="comment_reply">
                              <p class="comment_reply_header">Reply from {{ .Params.author }}:</p>
                              {{ .Content }}
                            </div>
                          {{ end }}
                        {{ end }}
                      </div>
                    </article>
                  </li>
                  {{ end }}
                </ol>
              {{ else }}
                <p>There are currently no comments on this article.</p>
              {{ end }}
            </section>
          {{ end }}

          <section id="comments-form">
            <h3>Comment</h3>

            <form method="post" action="/commentmanagement">
              <div class="comments-wrapper">
                <p id="Comment">
                  <strong>Enter your comment below.</strong>
                </p>
                <fieldset>
                  <p class="large">
                    <label for="name">Name <b class="required" title="Required">*</b></label><br>
                    <input name="name" autocomplete="name" class="comment_name_input" id="name" type="text" size="32" required="required" value="">
                  </p>

                  <p class="large">
                    <label for="email">Email</label>
                    <span class="footnote">Only if you want to be notified about my reply.</span><br>
                    <input name="email" autocomplete="email" class="comment_email_input" id="email" type="email" size="32" value="">
                  </p>

                  <p class="large">
                    <label for="web">Website</label><br>
                    <input name="web" autocomplete="url" placeholder="http(s)://" class="comment_web_input" id="web" type="url" size="32" value="">
                  </p>

                  <p class="small">
                    <label for="message">Message <b class="required" title="Required">*</b></label>
                    <span class="footnote">You can use <a rel="nofollow" href="https://www.markdownguide.org/basic-syntax/">Markdown syntax</a> here.</span><br>
                    <textarea id="message" name="message" cols="64" rows="8" required="required"></textarea>
                  </p>
                </fieldset>

                <p>
                  <small>By submitting your comment, you agree to your comment being published here under the terms of the <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</small><br>
                  <input name="submit" class="button" type="submit" value="Submit">
                </p>

                <input name="article" type="hidden" value="{{ .Dir }}">
              </div>
            </form>
          </section>
        </div>

        {{ partial "complementary.html" . }}
      </div>
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
