{{ $kind := .kind }}
{{ with .scope }}
  {{ if eq .Section "articles" }}
  <p>
    <strong>Posted</strong> on <time datetime="{{.PublishDate.UTC.Format "2006-01-02T15:04:05Z"}}" itemprop="datePublished">{{.PublishDate.UTC.Format "2006-01-02 15:04"}}</time> by <a href="/about/">{{ .Site.Author.name }}</a>
    {{ with .Params.categories }}
      <span class="categories" itemprop="keywords">
      {{ range . }}
        {{ $name := . }}
        {{ with $.scope.Site.GetPage (printf "/categories/%s" ($name | urlize))}}
          <a class="category" rel="tag" href="{{ .Permalink }}">{{ $name }}</a>
        {{ end }}
      {{ end }}
      </span>
    {{ end }}
  </p>
  {{ end }}
  <div itemprop="articleBody">
    {{ $content := .Content -}}
    {{ if eq $kind "home" -}}
      {{ $content = partial "summary.html" $content -}}
    {{ else -}}
      {{ if findRE "<p>{{toc}}</p>" $content -}}
        {{ $content = safeHTML (replace $content "<p>{{toc}}</p>" (partial "toc.html" .)) -}}
      {{ end -}}
    {{ end -}}
    {{ $content }}
  </div>

  {{ if eq $kind "home" -}}
  <p>
    <a href="{{ .RelPermalink }}">Read more…</a>

    {{ if eq .Section "articles" -}}
      <span class="comments_invite"><a href="{{.RelPermalink}}#Comment">Comment</a> [{{ len (.Resources.Match "comment_[0-9][0-9][0-9][0-9][0-9][0-9].*") }}]</span>
    {{ end -}}
   </p>
  {{ end -}}
{{ end }}
