<div role="complementary">
  <form id="search" role="search" action="#">
    <h4><label for="search-textbox">Search</label></h4>
    <p><input id="search-textbox" type="search"><input type="submit" value="Go"></p>
  </form>

  {{ with .Scratch.Get "rss" -}}
    <p><a type="application/rss+xml" title="RSS feed" href="{{ .Permalink }}"><img src="/images/rss.svg" width="16" height="16"> RSS feed</a></p>
  {{ end -}}

  <h4>External links</h4>
  <ul class="linklist">
    <li><a rel="external" href="https://adblockplus.org/">Adblock Plus project</a></li>
    <li><a rel="external" href="https://addons.mozilla.org/user/palant/#my-addons">My Firefox extensions</a></li>
    <li><a rel="external" href="https://github.com/palant?tab=repositories">My GitHub repositories</a></li>
    <li><a rel="external" href="http://stackoverflow.com/users/785541/wladimir-palant?tab=answers">My Stack Overflow answers</a></li>
  </ul>
</div>

<script src="/js/lunr.js?{{now.Unix}}" async></script>
<script src="/js/lunr-init.js?{{now.Unix}}" async></script>
