<div role="complementary">
  <form id="search" role="search" action="#">
    <h4><label for="search-textbox">Search</label></h4>
    <p><input id="search-textbox" type="search"><input type="submit" value="Go"></p>
  </form>

  {{ with .Scratch.Get "rss" -}}
    <p><a class="iconLink rss" type="application/rss+xml" title="RSS feed" href="{{ .Permalink }}">RSS feed</a></p>
  {{ end -}}

  <h4>External links</h4>
  <ul class="linklist">
    <li><a class="iconLink twitter" rel="me" href="https://twitter.com/WPalant">Twitter</a></li>
    <li><a class="iconLink mastodon" rel="me" href="https://infosec.exchange/@WPalant">Mastodon</a></li>
    <li><a class="iconLink mastodon" rel="me" href="https://social.tchncs.de/@WPalant">Mastodon (non-technical)</a></li>
    <li><a class="iconLink pfp" rel="external" href="https://pfp.works/">PfP: Pain-free Passwords project</a></li>
    <li><a class="iconLink abp" rel="external" href="https://adblockplus.org/">Adblock Plus project</a></li>
    <li><a class="iconLink github" rel="external" href="https://github.com/palant?tab=repositories">GitHub repositories</a></li>
    <li><a class="iconLink stackoverflow" rel="external" href="http://stackoverflow.com/users/785541/wladimir-palant?tab=answers">Stack Overflow answers</a></li>
  </ul>
</div>
