<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}

    <div class="wrapper">
      <div class="container">
        <div role="main">
          <h1 class="error-status">Page not found</h1>
          <p class="error-msg">We are sorry - this page doesn't live here anymore.</p>
          <p>
            <a href="{{ .Site.BaseURL }}">Go to Homepage</a>
          </p>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}

  </body>
</html>
