<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">

  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <div class="wrapper">
      <div class="container">
        <div id="main" role="main">
          {{range (.Paginate (where .RegularPages "Section" "articles")).Pages }}
            <article role="article" itemscope itemtype="http://schema.org/Article">
              <h1 itemprop="name">
                <a href="{{.RelPermalink}}" itemprop="url">{{.Title}}</a>
              </h1>
              {{ partial "article.html" (dict "scope" . "kind" "home") }}
            </article>
          {{end}}

          {{ template "_internal/pagination.html" . }}
        </div>

        {{ partial "complementary.html" . }}

      </div>
    </div>

    {{ partial "footer.html" . }}

  </body>
</html>
